<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zejyej.template">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.zejyej.template.common.MyApplication"
        >
        <activity android:name="com.zejyej.template.ui.activity.impl.VipActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zejyej.template.ui.activity.impl.MyInviteActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.MyTeamActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.TodayVisitorActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.RegisterActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.ResetPasswordActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.LoginActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.SplashActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.MineActivity" />
        <activity android:name="com.zejyej.template.ui.activity.impl.AddReceiveInfoActivity" />

    </application>

</manifest>